<%- include('../partials/header') %>
<section class="favorites">
    <div>
        <% favorites.forEach(function(f){ %>
        <section>
            <div>Name: <%= f.name %></div>
            <div>Food Type: <%= f.foodType %></div>
            <div>Location: <%= f.location%></div>
        </section>
       <% }); %> 
    </div>
</section>



<%- include('../partials/footer') %>