<%- include('../partials/header') %>

    <h1>Where to Eat in Chicago</h1>

<section class="restaurants-main">
    <div>
        <% restaurants.forEach(function(r){ %>
        <div class="restaurants-image">
            <div class="images"><img src="<%= r.picture %>"></div>
        
        <div class="restaurant-info">
            <div>Name: <%= r.name %></div>
            <div>Food Type: <%= r.foodType %></div>
            <div>Location: <%= r.location%></div>
            <a href="/restaurants/<%=r._id%>">View More</a>
        </div>
        </div>
       <% }); %> 
    </div>
</section>

<%- include('../partials/footer') %>