<%- include('../partials/header') %>
<section>
    <div>
        <% restaurant.forEach(function(r){ %>
        <section>
            <div>Name: <%= r.name %></div>
            <div>Food Type: <%= r.foodType %></div>
            <div>Location: <%= r.location%></div>
            <a href="/restaurants/<%=r._id%>">View More</a>
        </section>
       <% }); %> 
    </div>
</section>

<%- include('../partials/footer') %>