<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style2.css'/>
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/restaurants"<%- title === 'All Restaurants' ? 'class="active"' : '' %>>All Restaurants</a>
        <% if (user) { %>
          <a href="/restaurants/new" <%- title === 'Add a Restaurant' ? 'class="active"' : '' %>>Add a Restaurant</a>
          <a href="/restaurants/favorites" <%- title === 'My Favorites' ? 'class="active"' : '' %>>My Favorites</a>
          <a  class="log-out" href="/logout">Log Out</a>
        <% } else { %>
          <a href="/auth/google">Log In With Google&nbsp;</a>
        <% } %>
    </nav>
    <main class="main-container">
      <div></div>

    <h1>Where to Eat in Chicago</h1>

<section class="restaurants-main">
    <div>
        <% restaurants.forEach(function(r){ %>
        <div class="restaurants-image">
            <div class="images"><img src="<%= r.picture %>"></div>
        
        <div class="restaurant-info">
            <div>Name: <%= r.name %></div>
            <div>Food Type: <%= r.foodType %></div>
            <div>Location: <%= r.location%></div>
            <a href="/restaurants/<%=r._id%>">View More</a>
            <a class="link" target="_blank" href="<%= r.link %>">Take me here!</a>
        </div>
        </div>
       <% }); %> 
    </div>
</section>

<%- include('../partials/footer') %>