<%- include('../partials/header') %>
<section id="restaurant-details">
    <div>Name: <%= restaurant.name %></div>
    <div>Food Type: <%= restaurant.foodType %></div>
    <div>Location: <%= restaurant.location%></div>
    <div>
</section>

<%- include('../partials/footer') %>